### Commercial Data Analysis

### University of Virginia
### DS 5110: Big Data Systems
### Last Updated: February 9, 2022

### INSTRUCTIONS  
In this assignment, you will work with a dataset containing information about businesses.  Each record is a business location.  Follow the steps below, writing and running the code in blocks, and displaying the solutions.  

Each question part is worth 1 POINT, for a total of 15 POINTS.

Hint: reaching deeper fields in json hierarchy can be done like this:  

`df.select('address.street_number')`

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
        .appName("comm") \
        .getOrCreate()

In [2]:
# note that read.json can read a zipped JSON directly
df = spark.read.json('part-00000-a159c41a-bc58-4476-9b78-c437667f9c2b-c000.json.gz')

In [3]:
df.show(1)

+--------------------+-------------+-----+----------------+----+-------+--------------------+--------------------+
|             address|business_tags|hours|              id|menu|reviews|                urls|             webpage|
+--------------------+-------------+-----+----------------+----+-------+--------------------+--------------------+
|{Woodburn, {45.15...|         null| null|000023995a540868|null|     []|{woodburn.k12.or....|{Educational Tech...|
+--------------------+-------------+-----+----------------+----+-------+--------------------+--------------------+
only showing top 1 row

**1. (1 PT) Read in the dataset and show the number of records**

**2. (1 PT) Print the schema**

**3. (1 PT) Show the first 5 records**

**4. (1 PT) Location**  

Count the number of records where the city is Houston

**5. (1 PT) Hours**  

Count the number of records where closing time on Friday is 7pm

**6. (1 PT) Location and Hours**  

Count the number of records where city is Houston and closing time on Friday is 7pm

**7. (1 PT) Price Range**  

Price range is quoted in number of dollar signs.  Count the number of records with price range greater than or equal to three.

**8. (1 PT) COMPANY HEADQUARTERS**  

For the `address.is_headquarters` field:  
how many locations are HQ / are NOT HQ / are null?

**9. (1 PT) Webpage URLs**  

Register the dataframe as a temp table.  
Next, use Spark SQL to select only the webpage title column, filtering on rows where the webpage url (accessed under `webpage.url`) is *Target.com*. 

Show only one resulting row and don't truncate the output.

**10. (1 PT) Analysis on Ratings**  

The reviews contains information such as the number of stars for each review (the *rating*).  
The ratings are stored in an array (`reviews.stars`) for each business location (you should check for yourself). Return the top five most common rating arrays.  For example, an array might look like: 
[5, 5]

**11. More work with Ratings**  

For this question, you will filter out null ratings and then compute the average rating for each business location (using the field: `id`).


a) (1 PT) Create a new dataframe retaining two fields: `id`, `reviews.stars`

b) (1 PT) Create a row for each rating  
hint: use the `withColumn()` and `explode()` functions  
you will need to import the `explode()` function by issuing:

`from pyspark.sql.functions import explode`

c) (1 PT) Return a count of the number of ratings in this dataframe

d) (1 PT) Drop rows where the rating is null, and return a count of the number of non-null ratings

e) (1 PT) Compute the average rating, grouped by `id`. After the average is computed, sort by `id` in ascending order and show the top 10 records.  
 
hint:   
this can all be done in one line using the `agg()` function  
this `id` should be at the top: 000136e65d50c3b7|